* {
    background: #1d2a35;
    font-family: monaco,Consolas,Lucida Console,monospace;
    color: #cdcdcd;
    line-height: 30px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar {
    width: 100%;
    font-weight: normal;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d1721;
    position: fixed;
    top: 0;
}

.navbar li {
    float: right;
}

.navbar a {
    font-size: 18px;
    background-color: #0d1721;
    display: block;
    color: #E8EDDF;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
    background-color: #000000;
}

.navbar .title {
    float: left;
}

.navbar .title a {
    background-color: #04aa6d;
}

.button {
    background: #0b860f; /* Green */
    padding: 20px;
    width: 150px;
    margin: auto;
    text-align: center;
}

.button a {
    font-size: 100%;
    background: #0b860f;
    font-weight: 700;
    text-decoration: none;
}

button {
    text-align: center;
}

h1 {
    text-align: center;
}

h2,
p {
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.sidenav {
    float: left;
    background: #464646;
    width: 15%;
    height: 100%;
    padding: 10px;
}

.sidenav * {
    background: #464646;
    /*list-style: none;*/
    text-decoration: none;
}

.body {
    padding-top: 60px;
    width: 100vw;
    height: 100%;
    /*
    overflow-y: auto;
    float: left;
    width: 85%;
    height: 100%;
    margin: 30px;
    margin-bottom: 10px;*/
}

.content {
    padding: 30px;
    overflow-y: auto;
    float: left;
    width: 85%;
    height: 100%;
}



.centerme {
    margin: auto;
    width: 50%;
    padding: 30px;
    text-align: center;
}

.centerme .mybutton {
    cursor: pointer;
    padding: 20px;
    background: #0b860f;
    background-color: #0b860f;
    justify-content: center;
    text-align: center;
}

    .iframe-container {
        margin: auto;
        width: 44%;
    }

@media only screen and (max-width: 800px) {
    .iframe-container {
        margin: auto;
        width: 100%;
    }
}

.iframe-container iframe {
    width: 100%;
    border-style:ridge;
    border-color: #04aa6d;
    border-width: 20px;
}

.responsive {
    width: 100%;
    height: auto;
}