/*
Color Palette:
    Light Mode:
        Text: #222222
        Background: ebebeb

*/
@font-face {
    font-family: 'SF Pro';
    src: url(/fonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: 'SF Pro Medium';
    src: url(/fonts/SFPRODISPLAYMEDIUM.OTF);
}

/* Light Mode */
:root[color-mode="light"] {
    --textColor: #222222;
    --backgroundColor: #ebebeb;
    --buttonFill: #639FAB;
}

/* Dark Mode */
:root[color-mode="dark"] {
    --textColor: #EBEBEB;
    --backgroundColor: #222222;
    --buttonFill: #1C5D99;
}

html {
    scroll-behavior: smooth;
    font-family: 'SF Pro';
    color: var(--textColor);
    background-color: var(--backgroundColor);
    line-height: 10%;
    box-sizing: border-box;
}


body {
    margin: 0px;
}

.home {
    text-align: center;
    margin: 20px;
}

.home * {
    margin: 20px;
}

.home h1 {
    font-size: 40px;
    padding: 10px;
}

.home .logo {
    width: auto;
    height: 150px;
}

.home .button { 
    font-size: 20px;
}

.button {
    display: inline-block;
    width: auto;
    text-decoration: none;
    color: var(--backgroundColor);
    border-radius: 25px;
    background-color: var(--buttonFill);
    padding: 1%;
}

.button a {
    text-align: center;
    text-decoration: none;
    color: var(--backgroundColor);
    border-radius: 25px;
    background-color: var(--buttonFill);
    padding: 1%;
}

/* iframe fix here*/
.myiframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* padding-top: 56.25%; 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.my-responviveiframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}